.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff
}

body{
    margin: 0px;
    background-color: #f7f2f2;
    font-family: fantasy;
}

.header{
    font-family: fantasy;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

.origami:hover{
    transform: scale(1.1);
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #808080;
    text-decoration: none;
}

.content {
    display: flex;
}

.bodyimg {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
    position: absolute;
    color: white;
    font-size: 55px;
    font-family: fantasy;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
